*::before,
*::after {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vh;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}
.container {
  width: 800px;
  max-width: 80px;
  background-color: antiquewhite;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px;
}

.btn {
  border: black;
  background-color: blanchedalmond;
  padding: 5px 10px;
  color: cornsilk;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  color: blue;
}

.btn.wrong {
  color: red;
}

.start-btn {
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 10px 20px;
}

.next-btn {
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
